textarea {
  text-align: center;
  display:block;
  margin: auto;
}
textarea.transcribe {
  text-align: left;
  display: block;
  margin: auto;
  width: 80%;
  height: 400px;
}
.transbtncontainer, .solvebtncontainer {
  display:table;
  margin:auto;
}
.maxflow {
  text-align: center;
  display:block;
  margin:auto;
}

svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.selected.link {
  stroke-dasharray: 10,2;
}

.link path.dragline.link {
  pointer-events: none;
}

path.hidden.link {
  stroke-width: 0;
}

.edge text {
  text-anchor: middle;
  dominant-baseline: text-after-edge;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}

circle.node.reflexive {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}


