path.link {
  fill: none;
  stroke: #666;
  stroke-width: 2px;
}
.flow .link.sending path{
  stroke-width: 3px;
  stroke: steelblue;
}
.link.resending path{
  stroke-width: 3px;
  stroke: steelblue;
}
.link.sending path{
  stroke-width: 3px;
  stroke: steelblue;
}
.link.sending {
  fill: steelblue;
}
.link.resending {
  fill: brown;
}

circle {
  stroke: #333;
}

body {
  text-align: center;
  text-rendering: geometricPrecision;
}
textarea {
  text-align: center;
  display:block;
  margin: auto;
}
textarea.transcribe {
  text-align: left;
  display: block;
  margin: auto;
  width: 80%;
  height: 400px;
}
.transbtncontainer, .solvebtncontainer {
  display:table;
  margin:auto;
}
.maxflow {
  text-align: center;
  display:block;
  margin:auto;
}
svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
svg.network:not(.active):not(.ctrl) {
  cursor: crosshair;
}

.network .link path{
  cursor: pointer;
}

path.selected.link {
  stroke-dasharray: 10,2;
}
path.dragline.link {
  pointer-events: none;
}

path.hidden.link {
  stroke-width: 0;
}

.link text {
  text-anchor: middle;
  dominant-baseline: text-after-edge;
}

.link .halo {
  stroke-width: 12px !important;
  stroke: rgba(0,0,0,0) !important;
}

.network .node circle {
  stroke-width: 1.5px;
  cursor: pointer;
}

.node {
  text-anchor: middle;
}

.network .node.selected circle {
  stroke-width: 2px;
}

text {
  font: 13px sans-serif;
  pointer-events: none;
}


